.root {
  height: 100vh;
  background-color: var(--gray-a2);
}

.left {
  padding: var(--space-5) var(--space-5) 0;
}

.right {
  background-color: var(--gray-1);
  padding: var(--space-4);
  min-width: 400px;
}

.categories-card {
  padding-bottom: var(--space-2);
  min-height: 250px;
}

.items-card .items {
  padding: var(--space-1);
}

.sort {
  font-weight: bold !important;
}

.done-button {
  max-width: 80px !important;
}
