.root {
  height: 100vh;
  background-color: var(--gray-a2);
  padding: var(--space-5) var(--space-5) 0;
}

.categories-card {
  padding-bottom: var(--space-2);
  min-height: 250px;
}

.items-card .items {
  padding: var(--space-1);
}

.sort {
  font-weight: bold !important;
}
