.root {
  width: 280px;
  padding: var(--space-4);
  background-color: var(--gray-1);
  border: 1px solid var(--gray-2);
  border-radius: var(--radius-3);
  transition: border-color 0.3s ease;
}

.info {
  margin-left: var(--space-2);
}

.description {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  display: block;
  margin-bottom: 0.25rem;
}

.title {
  display: flex;
  justify-content: center; /* centraliza no eixo horizontal */
  align-items: center;
}
