.root {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-2);
  padding: var(--space-1);
}

.root:hover {
  background-color: var(--accent-3);
  cursor: pointer;
}

.root img {
  height: 50px;
  width: 50px;
  border-radius: var(--radius-2);
  border: 1px solid var(--gray-a5);
  padding: var(--space-1);
  background-color: var(--white-a10);
}
